@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,500&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 1000 !important;
    text-size-adjust: auto; 
    background-color: #212121;
    color: white;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input.input {
    margin: 5px;
    padding: 15px;
    border-width: 3px;
    border-color: white;
    border-radius: 15px;
    border-style:solid;
}
input:focus {
    outline: none;
}
.inactive {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.result{
    border-width: 3px;
    border-color: white;
    border-radius: 15px;
    border-style:solid;
}
.text-alert {
    margin: 0;
    margin: 2vh;
    color: red;
}